<div class="container mt-5">
      <!-- Header -->
      <h1 class="text-center mb-4 fw-bold">My Epic ToDo List</h1>

      <partial name="add" />

      <!-- List -->
      <ul class="list-group shadow">
        <li
          class="list-group-item d-flex align-items-center justify-content-between py-3"
        >
          <div class="d-flex align-items-center flex-grow-1">
            <span class="badge bg-secondary rounded-pill me-3">Todo</span>
            <span class="me-3">Buy groceries</span>
          </div>
          <div>
            <button class="btn btn-sm btn-outline-info me-2">
              <i class="bi bi-pen"></i>
            </button>
            <button class="btn btn-sm btn-outline-warning me-2">
              <i class="bi bi-hourglass-split"></i> Doing
            </button>
            <button class="btn btn-sm btn-outline-danger">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>